
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(GREEN-BACKGROUND.jpg);
}
.am-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 100px;
  margin-left: 50px;
}

.am-table th, .am-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ffffff;
}

.am-table th {
  background-color: #28c591;
}

.am-table tbody tr:nth-of-type(odd) {
  background-color: #c7c5c5;
}

.am-table tbody tr:hover {
  background-color:  #c7c5c5;
}
