#AMPharmacy {
    background-color: #12ad72; ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(GREEN-BACKGROUND.jpg);
}

.am-login-container {
    background-color: #b8b0b0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; 
    width: 100%; 
    margin: 0 auto; 
}

h2 {
    margin-bottom: 20px;
}

.am-input-group {
    margin-bottom: 20px;
}

.am-input-group label {
    display: block;
    margin-bottom: 5px;
}

.am-input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #15b887;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}